.category-filter{
  justify-content: center;
  padding: 1em 0;

  select{
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    font-size: 1em;
    padding: .5em;
    border: none;
  }
}